@model IEnumerable<Bumbo.Data.Models.Norm>
@{
    ViewData["Title"] = "Norm beheer";
    var branchIds = ViewBag.BranchIds as List<int> ?? new List<int>();
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<div class="container">
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th style="width: 40%;">Activiteit</th>
                <th style="width: 30%;">Aantal per uur</th>
                <th style="width: 30%;">Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SupermarketActivity)</td>
                    <td>@Html.DisplayFor(modelItem => item.NormPerHour)</td>
                    <td>
                        @Html.ActionLink("Bewerken", "Edit", new { id = item.BranchId, hour = item.NormPerHour, activity = item.SupermarketActivity }, new { @class = "btn btn-sm btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

