:root {
    --border-radius: 8px
}

body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column; /* Allows stacking of header, main content, and footer */
}

.login-wrapper {
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.login-container {
    background-color: #d9d9d9;
    padding: 20px; 
    border-radius: var(--border-radius);
    width: 33%;
    margin: auto;
}

h2 {
    text-align: start;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block; /* Label takes full width */
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}