body {
    background-color: white;
}
.leftRightCon {
    margin-top: 0px;
    padding-top:0px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: white;
    height: fit-content;
    border-style: solid;
}

.splitCon {
    display: flex;
    flex-direction: row;
}


#activiteit{
    height:fit-content
}
#tijdsduur{
    height: fit-content
}
#topCon{
    padding-top: 10px;
    background-color:white;
    border-bottom:hidden
}

.splitCon p{
    margin: 5px 0px 5px 0px;

}
.normText {
    margin: 5px 0px 5px 0px;
    display:flex;
    width: fit-content;
}

#topCon span {
    border-style: hidden;
}
.splitCon tr {
    width: 90vh;
    
    justify-content: space-around;
    border-style: solid;
}
table {
    width: 90vh;
}
#activity-name {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    width: 150px;
}

#hour-rate {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

#custom-font {
    font-style: italic;
    font-size: 12px;
    color: #555;
    margin-right: 5px;
}
.normRow {
    margin: 5px 5px 5px 5px;
    width: 90vh;
    display: flex;
    justify-content: space-between
}
.borderDiv {
    margin: 5px 0px 5px 0px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    width: 90vh;
}

.filter *{
    width:fit-content;
    margin: 5px;
}
.filter{
    display:flex;
}