body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;

}

.flex-container {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: auto; 
    margin: 0 auto 20px;
}

.square {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto; /* Add spacing between divs */
    width: 300px; /* Set a fixed width */
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.button{
    margin-right: 10px;
    background-color:lightgrey;

}