@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/rooster_bekijken.css">
</head>

<body>

    <div class="flex-container">
        <div class="square">Tekst 1</div>
        <div class="square">Tekst 2</div>
        <div class="square">Tekst 3</div>
        <div class="square">Tekst 4</div>
        <div class="square">Tekst 5</div>
        <div class="square">Tekst 6</div>
        <div class="square">Tekst 7</div>
        <div class="square">Tekst 8</div>
    </div>


</body> 