@using Bumbo.Domain.Models;
@using Bumbo.App.Web.Models.ViewModels.Home;


@model WeekPersonalScheduleViewModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/rooster_bekijken.css">
</head>

<body>
    <h2>Rooster Week </h2>
    <div style="display: flex; align-items: center; gap: 20px; border: 1px solid #ccc; padding: 10px; border-radius: 5px;">

            <button class="btn btn-secondary">Week terug</button>
            <button class="btn btn-secondary">Week vooruit</button>
    </div>

    <div class="flex-container">
        <div class="square">
        Datum:  </br>
        Tijd: <br />
        Afdeling <br/>
        Filiaal <br/>   
        </div>
        <div class="square">
            Datum:  </br>
            Tijd: <br />
            Afdeling <br />
            Filiaal <br />
        </div>
        <div class="square">
            Datum:  </br>
            Tijd: <br />
            Afdeling <br />
            Filiaal <br />
        </div>
        <div class="square">
            Datum:  </br>
            Tijd: <br />
            Afdeling <br />
            Filiaal <br />
        </div>
        <div class="square">
            Datum:  </br>
            Tijd: <br />
            Afdeling <br />
            Filiaal <br />
        </div>
        <div class="square">
            Datum:  </br>
            Tijd: <br />
            Afdeling <br />
            Filiaal <br />
        </div>
        <div class="square">
            Datum:  </br>
            Tijd: <br />
            Afdeling <br />
            Filiaal <br />
        </div>

    </div>

</body>
