@model Bumbo.App.Web.Models.ViewModels.Availability.AvailabilityViewModel;

@{
    ViewData["Title"] = "Beschikbaarheid Wijzigen";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Beschikbaarheid Wijzigen</h1>

    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="EmployeeId" type="hidden" />
        <input asp-for="BranchId" type="hidden" />

        <table class="table">
            <thead>
                <tr>
                    <th>Dag</th>
                    <th>Starttijd</th>
                    <th>Eindtijd</th>
                </tr>
            </thead>
            <tbody>
                @* @for (int i = 0; i < Model.DailyAvailabilities.Count; i++) *@
                @* { *@
                @*     <tr> *@
                @*         <td> *@
                @*             @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.DailyAvailabilities[i].Weekday.ToString("dddd", new System.Globalization.CultureInfo("nl-NL")).ToLower()) *@
                @*             <input type="hidden" asp-for="DailyAvailabilities[@i].Weekday" /> *@
                @*         </td> *@
                @*         <td> *@
                @*             <input asp-for="DailyAvailabilities[@i].StartTime" type="time" class="form-control" /> *@
                @*             <span asp-validation-for="DailyAvailabilities[@i].StartTime" class="text-danger"></span> *@
                @*         </td> *@
                @*         <td> *@
                @*             <input asp-for="DailyAvailabilities[@i].EndTime" type="time" class="form-control" /> *@
                @*             <span asp-validation-for="DailyAvailabilities[@i].EndTime" class="text-danger"></span> *@
                @*         </td> *@
                @*     </tr> *@
                @* } *@
            </tbody>
        </table>

        <div class="mt-4 d-flex gap-3">
            <a asp-action="Details" asp-route-employeeId="@Model.EmployeeId" asp-route-branchId="@Model.BranchId" class="btn btn-secondary">Annuleren</a>
            <button type="submit" class="btn btn-success">Opslaan</button>
        </div>
    </form>
</div>
