
@model Bumbo.App.Web.Models.ViewModels.LeaveRequest.LeaveRequestModel;   




<h1>Verlof aanvraag</h1>

<hr />

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["FailedMessage"] != null)
{
    <div class="alert alert-warning">@TempData["FailedMessage"]</div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
           

            <div class="form-group mb-3">
                <label class="control-label">employeeId</label>
                <input asp-for="employeeId" class="form-control" />
                <span asp-validation-for="employeeId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="start" class="control-label">start van verlof </label>
                <input asp-for="start" type="date" class="form-control" />
                <span asp-validation-for="start" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="end" class="control-label">einde van verlof</label>
                <input asp-for="end" type ="date" class="form-control" />
                <span asp-validation-for="end" class="text-danger"></span>
            </div>

            <div class="form-group mb-3" >
                <input asp-for="status" type="hidden" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>

            <div class="d-flex gap-2 mt-4">
               
                <div class="form-group">
                    <input type="submit" value="Aanvragen" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
    <div>

        <div class="d-flex gap-2 mt-4">
            <div>
                <a asp-action="MyRequest" class="btn btn-secondary">Mijn aanvragen</a>
            </div>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}