@model Bumbo.App.Web.Models.ViewModels.Leave.AllLeaveRequestsModel;


@{
    ViewData["Title"] = "Norm beheer";
    var branchIds = ViewBag.BranchIds as List<int> ?? new List<int>();
}

<head>
    <link rel="stylesheet" href="~/css/NormBeheer.css" asp-append-version="true" />
</head>

<h1>@ViewData["Title"]</h1>

<body>
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid #ccc; padding: 10px; display: flex; justify-content: space-between;">
                <span style="width: 33%; text-align: left;">start datum</span>
                <span style="width: 33%; text-align: center;">eind datum</span>
                <span style="width: 33%; text-align: right;">status</span>
            </th>
        </tr>
        @foreach (var item in Model.myRequests)
        {
            <tr>
                <td style="border: 1px solid #ccc; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
                    <span style="width: 33%; text-align: left;">@Html.DisplayFor(modelItem => item.start)</span>
                    <span style="width: 33%; text-align: center;">@Html.DisplayFor(modelItem => item.end)</span>
                    <span style="width: 33%; text-align: right;">@Html.DisplayFor(modelItem => item.status)</span>
                </td>
            </tr>
        }
    </table>

    <div class="d-flex gap-2 mt-4">
        <div>
            <a asp-action="Index" class="btn btn-secondary">Verlof aanvragen</a>
        </div>

    </div>
</body>
